h3 {
	border:1px solid #CCCCCC;
	font-style: italic;
	color: blue;
}

p {
	text-indent: 5px;
	margin: 30px 0px;
}

.clear {
	clear: left;
} 

h2 {
	padding: 10px 0px;
	text-align: center;
	font-family: "fontAine", "Arial", "sans-serif"
}

@font-face {
    font-family: "fontAine";
    src: URL(../font/font.otf);
}

.Even {
	background-color: #5BBDBF;
}

.Odd {
	background-color: #FF5850;
}

body {
	margin: auto;
	width: 900px;
	background-color: #838892;
	line-height:150%;

}

.Court {
	height: 300px;
	float: right;
}

.Skill {
	color: red;
	font-style: italic
}

a {
	text-decoration: none;
	background-color: none;
}

a:visited {
	color: #0088FF;
}

a:hover {
	color: orange;	
}

thead {
	background-color: #00AAFF;
}

th> .skill {
	color: #640051;
	padding: 0px 5px;
}

tbody:nth-child(odd) {
	background-color: #CCC;
}

tbody:nth-child(even) {
	background-color: white;
}

table {
	text-align: center;
}

.Long {
	float: left;
	height: 150px;
}

#twitter  {
	position: fixed;
	bottom: 20px;
	right: 20px; 
}

#facebook {
	position: fixed;
	bottom: 50px;
	right: 20px; 
}

nav  {
	width: 75%;
	height: 50px;
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

nav > div {
	background-color: #5BBDBF;
	display: flex;
	position: relative;
	width: 100px;
	align-items: stretch;
}

nav a {
	padding: 10px 0px;
}

nav > div:first-child a{
	padding: 10px 0px;
	border: none;
}

.submenu {
	position: absolute;
	top: 50px;
	left: 0px;
	background-color: #aca;
	display: none;
	align-items: center;

}

nav > div:hover .submenu{
	display: block;

}

header {
	display: flex;
	flex-direction: column;
	background-color: white;

}

main{
	display: flex;
}

aside {
	width: 30%;
	margin-left: 10%;
	background-color: #CCC;
}

article {
	width: 60%;
	background-color: #CCC;
}

.puce {
	visibility:hidden;
}

nav > div:hover .puce{
	visibility: visible;
}